name: Deploy to Google Cloud Bucket

on:
  push:
    branches:
      - master  # Убедись, что твоя ветка называется master (или main)

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Скачиваем твой код
    - uses: actions/checkout@v4

    # 2. Логинимся в Google Cloud через твой секретный ключ
    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

    # 3. Заливаем файлы в бакет
    - id: 'upload-files'
      uses: 'google-github-actions/upload-cloud-storage@v2'
      with:
        path: '.' # Берем всё из текущей папки
        destination: 'exorice-praktika-site' # <--- СЮДА ВСТАВЬ ИМЯ ТВОЕГО БАКЕТА
        parent: false
